img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#container1 {
    height: auto;
    width: auto;
    padding: 10px 10px;
    background-color:brown;
}
        .tentangsaya {
            color: black;
            font-style: italic;
        }
        .p1 {
            color: black;
}

#container2 {
    height: auto;
    width: auto;
    padding: 10px 10px;
    background-color: gray;
}
        #keahlian {
            font-style: italic;
        }

#container3 {
    height: auto;
    width: auto;
    padding: 10px 10px;
    background-color: aquamarine;
}
        #pendidikan {
            font-style: italic;
        }
#container4 {
    height: auto;
    width: auto;
    padding: 10px 10px;
    background-color:teal;
}